<h2>All Students</h2>
<div class="row">
    <div class="col-md-2"><h3 style="text-align: center">Enrollment</h3></div>
    <div class="col-md-2"><h3 style="text-align: center">Name</h3></div>
    <div class="col-md-2"><h3 style="text-align: center">Sem</h3></div>
    <div class="col-md-2"><h3 style="text-align: center">Branch</h3></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
</div>
  <div *ngFor="let student of students" class="row">
    <div class="col-md-8">
      <app-disp [student]="student"></app-disp>
    </div>
    <div class="col-md-2">
      <button class="btn-dark btn" (click)="deleteStudent(student)">Delete</button>
    </div>
    <div class="col-md-2">
      <button class="btn btn-dark" (click)="updateStudent(student)">Edit</button>
    </div>
    
  </div>

<div *ngIf="editStudent">
  <form #updateForm="ngForm" (ngSubmit)="updStudent(updateForm)">
    
      <div class="form-group">
        <label for="firstName">First Name: </label>
        <input type="text" class="form-control" id="firstName" required
        [(ngModel)]="thisStudent.firstName" name="firstName">
      </div>

      <div class="form-group">
        <label for="lastName">Last Name: </label>
        <input type="text" class="form-control" id="lastName" required
        [(ngModel)]="thisStudent.lastName" name="lastName">
      </div>
  
      <div class="form-group">
        <label for="sem">Semester: </label>
        <input type="text" class="form-control" id="sem" required
        [(ngModel)]="thisStudent.sem" name="sem">
      </div>
  
      <div class="form-group">
        <label for="branch">Branch: </label>
        <input type="text" class="form-control" id="branch" required
        [(ngModel)]="thisStudent.branch" name="branch">
      </div>
  
      <div>
        <button type="submit" class="btn btn-success" >Submit</button>
      </div>
    
  </form>
</div>
